body, ul, p, button, input {
  padding: 0;
  margin: 0;
}

body {
  background-color: #19191b;
}

button, input {
  border: none;
  background: none;
  outline: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

h2, h3, h4, h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.container {
  max-width: 370px;
  padding: 0 25px;
  margin: 0 auto;
  box-sizing: border-box;
}

.icon-zigzag {
  position: absolute;
  width: 61px;
  height: 18px;
}

.icon-circle {
  position: absolute;
  width: 35px;
  height: 42px;
}

.icon-plus {
  position: absolute;
  width: 26px;
  height: 26px;
}

.icon-triangle {
  position: absolute;
  width: 65px;
  height: 75px;
}

.main-header {
  position: fixed;
  top: 0px;
  left: 50%;
  z-index: 5;

  width: 100%;
  margin-bottom: 25px;

  transform: translateX(-50%);
  background-color: rgba(30, 30, 32, 0.5);
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 120px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 130px;
  transition: .2s all ease;

  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.logo:hover {
  color: #aaa7a7;
}

.logo__image {
  width: 27px;
  height: 27px;
}

.main-header__nav {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background-color: #1e1e20;
}

.main-nav__item {
  margin-bottom: 30px;

  text-align: center;
}

.nav-link {
  transition: .2s all ease;

  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.nav-link:hover {
  color: #5454d4;
}

.main-header__request {
  display: none;
}

.menu-toggler {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
}

.menu-toggler__line {
  display: block;
  height: 2px;

  margin-bottom: 3px;
  margin-left: auto;

  border-radius: 2px;

  background-color: #fff;
}

.menu-toggler__line1 {
  width: 14px;
}

.menu-toggler__line2 {
  width: 10px;
}

.menu-toggler__line3 {
  width: 6px;
}

.title {
  max-width: 327px;

  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #fff;
}

.subtitle {
  max-width: 327px;

  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

/* INTRO */

.intro {
  padding-top: 120px;
}

.intro__main {
  margin-bottom: 70px;
}

.intro__title {
  margin-bottom: 30px;

  font-size: 42px;
  line-height: 63px;
}

.intro__subtitle {
  max-width: 327px;
  margin-bottom: 50px;
}

.intro__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 166px;
  height: 44px;
  padding: 0 20px;
  box-sizing: border-box;

  transition: .2s all ease;

  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;

  background-color: #5454d4;
}

.intro__link:hover {
  background-color: #32327a;
}

.intro__image-wrapper {
  position: relative;
  width: 100%;
  height: 472px;
  margin-bottom: 60px;

  overflow: hidden;
}

.intro__image {
  position: absolute;
  top: 0px;
  left: -40px;
  z-index: 1;

  width: 400px;
  height: 400px;
}

.intro__image-wrapper::after {
  content: '';
  position: absolute;
  top: 115px;
  left: 35px;
  z-index: 0;

  display: block;
  width: 218px;
  height: 218px;

  border: 1px solid #fff;
  border-radius: 13px;
  transform: rotate(23deg);
}

.intro__icon {
  position: absolute;
}

.intro__zigzag {
  top: 35px;
  left: 0px;
}

.intro__circle {
  top: 10px;
  right: 15px;
}

.intro__plus {
  bottom: 95px;
  right: 10px;
}

.intro__triangle {
  bottom: 25px;
  left: 0px;
}

/* OUR PLUSES */

.our-pluses {
  position: relative;

  padding-bottom: 140px;
}

.our-pluses__triangle {
  bottom: 0px;
  left: 15px;
}

.our-pluses__title {
  margin-bottom: 30px;
}

.our-pluses__subtitle {
  margin-bottom: 50px;
}

.our-pluses__video {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 184px;

  background-image: url('../images/video-image.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.our-pluses__play {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-color: #5454d4;
}

.play-icon {
  width: 12px;
  height: 12px;
}

/* SERVICES */

.services {
  position: relative;
  padding-bottom: 180px;
}

.services__plus_top {
  top: 110px;
  right: 5px;
}

.services__plus_bottom {
  bottom: 100px;
  left: 35px;
}

.services__list {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}

.services__item {
  margin-bottom: 120px;

  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}

.services__item_last {
  margin-bottom: 0;
}

.services__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 69px;
  height: 69px;
  margin: 0 auto;
  margin-bottom: 20px;

  border-radius: 50%;
}

.services__image-wrapper1 {
  background-color: rgba(84, 84, 212, 0.1);
}

.services__image-wrapper2 {
  background-color: rgba(240, 64, 55, 0.1);
}

.services__image-wrapper3 {
  background-color: rgba(254, 220, 90, 0.1);
}

.services__image-wrapper4 {
  background-color: rgba(254, 220, 90, 0.1);
}

.services__image-wrapper5 {
  background-color: rgba(84, 84, 212, 0.1);
}

.services__image-wrapper6 {
  background-color: rgba(240, 64, 55, 0.1);
}

.services-item__title {
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.services-item__subtitle {
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.7);
}

/* PORTFOLIO */

.portfolio {
  position: relative;
  padding-bottom: 140px;
}

.portfolio__circle {
  top: 50px;
  right: 15px;
}

.portfolio__zigzag {
  bottom: 50px;
  left: 35px;
}

.portfolio__title {
  padding: 0 25px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.portfolio__slider {
  max-width: calc(100vw - 25px);
  overflow: hidden;
}

.portfolio__list {
  display: flex;
  margin-bottom: 50px;
}

.portfolio__item {
  margin: 0 15px;
}

.portfolio-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 301px;

  border-radius: 14px;

  background-color: #1e1e20;
}

.portfolio__image {
  width: 300px;
}

.portfolio-image-wrapper1 {
  display: none;
}

.portfolio-image-wrapper2 {
  display: none;
}

.portfolio__toggler-wrapper {
  display: flex;
  justify-content: space-between;

  width: 90px;
  margin: 0 auto;
}

.portfolio__toggler {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 38px;
  height: 38px;
  border-radius: 50%;

  transition: .2s all ease;

  background: rgba(255, 255, 255, 0.2);
}

.portfolio__toggler:hover {
  background-color: #5454d4;
}

.portfolio__toggler_right svg {
  transform: rotate(180deg);
}

/* CONTACT */

.contact {
  padding: 80px 0px;

  background: rgba(30, 30, 32, 0.5);
}

.contact__container {
  position: relative;
}

.contact__plus {
  top: -40px;
  right: -20px;
}

.contact__circle {
  bottom: -60px;
  left: -50px;
}

.contact__title {
  margin-bottom: 50px;
}

.contact__request {
  width: 166px;
  height: 44px;
  border-radius: 4px;

  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;

  background-color: #5454d4
}

.contact__request:hover {
  background-color: #32327a;
}

/* FOOTER */

.main-footer {
  padding-top: 140px;
  padding-bottom: 50px;
}

.footer__wrapper {
  text-align: center;
}

.footer__logo {
  margin: 0 auto;
}

.footer__nav {
  margin: 40px 0;
}

.footer__item {
  margin-bottom: 40px;
}

.footer__item_last {
  margin-bottom: 0;
}

.footer__company {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  color: #fff;
}
